.section {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px 2px #ddd;
}

.section__header {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .section__header {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.section__title {
  font-size: 20px;
  margin: 0;
}

.section__button {
  padding: 0 10px;
  border: none;
  background-color: white;
  color: hsl(180, 100%, 25%);
  transition: 0.5s;
}

.section__button:hover {
  color: hsl(180, 100%, 30%);
}

.section__button:active {
  -color: hsl(180, 100%, 35%);
}

.section__button:disabled {
  color: #ddd;
}
