.list {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.list__item {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.list__item--hide {
  display: none;
}

.list__button {
  border: none;
  padding: 10px;
  color: white;
  height: 35px;
  flex: 0 0 35px;
  transition: 1s;
}

.list__button--done {
  background-color: hsl(120, 100%, 25%);
}

.list__button--done:hover {
  background-color: hsl(120, 100%, 30%);
}

.list__button--done:active {
  background-color: hsl(120, 100%, 35%);
}

.list__button--remove {
  background-color: hsl(0, 100%, 50%);
}

.list__button--remove:hover {
  background-color: hsl(0, 100%, 60%);
}

.list__button--remove:active {
  background-color: hsl(0, 100%, 70%);
}

.list__paragraph {
  padding: 5px 10px;
  margin: 0px;
  flex-grow: 1;
}