.buttons__button {
  padding: 0 10px;
  border: none;
  background-color: transparent;
  color: hsl(180, 100%, 25%);
  transition: 0.5s;
}

.buttons__button:hover {
  color: hsl(180, 100%, 30%);
}

.buttons__button:active {
  -color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
  color: #ddd;
}

@media (max-width: 767px) {
  .buttons__container {
    display: grid;
    grid-gap: 20px;
  }
}